#contactanos2{
    display: none;
}
#footer{
    width: 100%;
    position: fixed;
    bottom: 0%;   
  }
@media screen and (max-width: 767px){
#contactanos2{
    display: block;
    margin-top: 10px;
}
#contactanos1{
    display: none;
}
}