.items{
    text-decoration:none;
    color:black;
}
.vinculo{
    color: white;
    text-decoration: none;
}

.margenes{
    margin-right:8vh; 
    margin-left:7vh;
}

.margenNav{
    margin-left:-45px;
}

.cart{
    margin-left:13vh;
}
.vinculo{
    color: white;
    text-decoration: none;
}
.nombreH1{
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-left: 8vh;
}
#inicio{
    margin-left: 16vh;
}
#categorias{
    margin-left: 5vh;
}
@media screen and (max-width: 767px){
    .nombreH1{
        margin-left: 0vh;
    }
    #inicio{
        margin-left: 0vh;
    }
    #categorias{
        margin-left: -2vh;
    }
}