.imgsRandom{
    height: 22vh;
    width: auto;
}
.verMas2{
    display: none;
}
@media screen and (max-width: 767px){
    .verMas1{
        display: none;
    }
    .verMas2{
        bottom: 0vh;
        display: initial;
    }
    .link{
        margin-top: 12vh;
        /* float: right; */
    }
    .prueba{
        height: 127px;
    }
    
}